---
import { renderRichText } from "@storyblok/astro"
const {blok} = Astro.props
const renderedText = blok.text ? renderRichText(blok.text) : ""
---


<div class="prose-slate prose prose-p:leading-normal md:prose-lg mb-8 last-of-type:mb-0">
  <Fragment set:html={renderedText}/>
</div>