---
import SectionWrapper from "../components/SectionWrapper.astro";
const {blok} = Astro.props
---

<SectionWrapper>
  <div class="py-16 md:py-28">
     <p class="text-center font-medium tracking-tight max-w-4xl mx-auto text-balance text-3xl md:text-4xl leading-[1.15] text-heading">{blok.text}</p>
  </div>
 
</SectionWrapper>