---
import { Image } from "astro:assets"

const {blok} = Astro.props

---

<section class="py-8 md:py-10">
  <div class="max-w-7xl mx-auto px-5 md:px-0">
   
    {blok.cards.length > 0 && 
     <div class="grid md:grid-cols-3 gap-x-8 gap-y-12">
       {blok.cards.map((card : any) => (
        // Card
        <a href={card.link.cached_url} class="aspect-4/3 relative flex flex-col justify-end h-full overflow-hidden p-6 group rounded-sm">
          <Image src={card.image.filename} alt={card.image_alt_text || card.title || 'Valle Condesa'} inferSize class="w-full h-full object-cover absolute inset-0 group-hover:scale-105 transition-transform duration-300"/>   
          <div class="bg-linear-to-t from-black/80 via-black/20 to-transparent absolute inset-0"></div>
          <h3 class="text-[2rem] text-white z-10">{card.title}</h3>
        </a>
        
       ))}      
    </div>
    }
  </div>
</section>