---
import { storyblokEditable, renderRichText } from '@storyblok/astro';

const {blok} = Astro.props
const renderedRichText = renderRichText(blok.content)
---


<section class="pt-12 md:pt-28">
  <div class="container px-5 md:px-0 mx-auto md:max-w-7xl">    
    <div class="grid md:grid-cols-2">
      <div class="">
        <h2 class="mb-4 md:mb-8 text-3xl md:text-[2.5rem]">{blok.headline}</h2>
    <div class="text-base md:text-xl">
      <Fragment set:html={renderedRichText} />
    </div>
      </div>
      <div class=""></div>
    </div>
    
    
    
  </div>
</section>