---
import { Image } from "astro:assets"
import SectionWrapper from "../components/SectionWrapper.astro"

const {blok} = Astro.props
---

<SectionWrapper>
  <div class="py-10 md:py-20">
    <div class="aspect-video rounded-lg shadow-md overflow-hidden">
      <Image src={blok.imagen.filename} alt={blok.image_alt || 'Valle Condesa'} inferSize class="w-full h-full object-cover"/>
    </div>
    <!-- Caption -->
    {blok.caption && 
      <div class="mt-4 flex items-center gap-x-4">
          <div class="border-l-2 inline-block text-accent h-3 lg:h-4"></div>
            <figcaption class="text-sm text-neutral-600">
              {blok.caption}
            </figcaption>
        </div>
      </div>
    }

  </div>
    
</SectionWrapper>
