---
import { storyblokEditable, renderRichText } from '@storyblok/astro';

const {blok} = Astro.props
const renderedRichText = renderRichText(blok.content)
---

<section>
  <div class="container mx-auto px-5">    
  <div class="text-center text-3xl mx-auto max-w-3xl">
      <Fragment set:html={renderedRichText}/>
    </div>
  </div>
</section>