---
import Pill from "./Pill.astro"
const {blok} = Astro.props

---

<div class="mt-6">
  <p class="mb-6">{blok.title}</p>
  <ul class="flex flex-wrap gap-y-5 gap-x-2.5">
    {blok.items.map((item : any) => {
      return <li class=""><Pill blok={item}/></li>
    })}
  </ul>
</div>