---
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
const {blok} = Astro.props
---

<main class="flex flex-col">
  {
    blok.body?.map((blok : any) => {
      return <StoryblokComponent blok={blok} />;
    })
  }
</main>