---

const {prefix, number, suffix, label} = Astro.props
---

<li class="p-8 flex flex-col items-center justify-baseline gap-y-2 bg-white shadow-sm rounded-2xl">
  <div class="flex items-center gap-x-1">
    {prefix && <span class="text-4xl text-heading">{prefix}</span>}
    <span class="text-6xl text-heading font-medium">{number}</span>
    {suffix && <span class="text-4xl self-end text-heading font-medium">{suffix}</span>}
  </div>
  <p class="text-xl text-center text-slate-600 text-balance">{label}</p>
</li>